<section class="video-controller">
  <div class="track-bar">
    <p class="pe-2" #currentTimeRef></p>
    <mat-slider class="w-100"
                min="0"
                [max]="floorNumber(videoRef.duration)"
                step="1"
                [value]="floorNumber(videoRef.currentTime)"
                (input)="onChangeTrack($event)"></mat-slider>
    <p class="ps-2">{{floorNumber(videoRef.duration)}}</p>
  </div>
  <div class="buttons">
    <button (click)="onPlay()">Play</button>
    <button (click)="onPause()">Pause</button>
    <button (click)="onMute()">Mute</button>
    <button (click)="onEntireScreen()">Entire Screen</button>
    <button (click)="onFullScreen()">Full Screen</button>
    <button (click)="onPictureInPicture()">Picture in Picture</button>
  </div>
</section>