.video-controller {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px 10px;
  background: linear-gradient(0deg, black, transparent);

  .track-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    .btn-group {
      display: flex;
      align-items: center;
      .btn-controller {
        background: transparent;
        border: 0;
        outline: none;
        transition: 200ms;

        &:hover {
          opacity: 0.8;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }

        svg {
          fill: white;
          width: 2rem;
          height: 2rem;
        }

        @media only screen and (max-width: 483px) {
          svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }

      .picture-in-picture {
        display: none;
        @media only screen and (min-width: 992px) {
          display: inline-block;
        }
      }
    }
  }
}

.video-speed-small-screen {
  width: 100%;
  display: none;
  text-align: end;
  @media only screen and (max-width: 700px) {
    display: inline-block;
  }
}

.video-speed-large-screen {
  display: none;
  @media only screen and (min-width: 700px) {
    display: inline-block;
  }
}
