<section class="video-details">
  <p class="title">video details</p>
  <table class="table">
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{videoDetails?.name}}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>
          <ng-container *ngIf="videoDetails.size !== 0">
            {{videoDetails?.size | bytesToHuman}}
          </ng-container>
        </td>
      </tr>
      <tr>
        <td>Resolution</td>
        <td>
          <ng-container *ngIf="videoDetails.width !== 0">
            {{videoDetails.width}}x{{videoDetails.height}}
          </ng-container>
        </td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>
          <ng-container *ngIf="videoDetails.duration !== 0">
            {{videoDetails.duration | secondsToHuman}}
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</section>